body
{
	background: rgb(189, 230, 213);
	color: black;
}

.login_div1 , .login_div2
{
	background: white;
	padding: 10px;
	float: none;
	border-radius: 10px;
	width: 500px;
	height: 200px;
}

#player1_input, #player2_input
{
	display: inline-block;
}

#word
{
	width: 60%;
}

#word_display
{
	letter-spacing: 5px;
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
